IOT-sourcecode.json
[{"id":"73275806.633238","type":"tab","label":"main flow","disabled":false,"info":""},{"id":"e14ccbcd.b263b8","type":"tab","label":"read numbers of sensors","disabled":false,"info":""},{"id":"b95bada1.e749","type":"tab","label":"date time","disabled":false,"info":""},{"id":"7c3f8746.d63228","type":"mqtt-broker","name":"Cc200TeamA ","broker":"192.168.0.146","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1e386ef6.44ff91","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f00f28be.991038","type":"function","z":"73275806.633238","name":"putin curl gesture","func":"msg.headers = {\n    'content-type': 'application/octet-stream',\n    'Prediction-Key': 'ea1dc0ad53584465bb99943229e16d3b',\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1020,"wires":[["af69b8d0.4e3838"]]},{"id":"fc9d0860.eb2548","type":"usbcamera","z":"73275806.633238","filemode":"0","filename":"image.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"5","name":"","x":930,"y":1240,"wires":[["dad9d8a3.5fbba8","a2fd23bb.4c8f4","f00f28be.991038"]]},{"id":"990a032b.9741","type":"function","z":"73275806.633238","name":"Get the name of the highest posibility","func":"var result;\n\n\n result = msg.payload.tagName;\n\n\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1590,"y":920,"wires":[["396ed2a9.f8080e","6437f5bd.a2e79c","23b3f822.4efa28"]]},{"id":"dad9d8a3.5fbba8","type":"image","z":"73275806.633238","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1220,"y":1080,"wires":[]},{"id":"af69b8d0.4e3838","type":"www-request","z":"73275806.633238","name":"send to Azure AI","method":"POST","ret":"obj","url":"https://c200customvision1.cognitiveservices.azure.com/customvision/v3.0/Prediction/0124606e-8d12-450a-ac07-4cd8a2b9d7ff/detect/iterations/Iteration3/image","follow-redirects":true,"persistent-http":true,"tls":"","x":1180,"y":960,"wires":[["3a116ec2.c15fa2"]]},{"id":"4f5f9076.90364","type":"exec","z":"73275806.633238","command":"fswebcam /home/pi/Pictures/$(date +\"%Y-%m-%d_%H%M%S\").jpg ","addpay":false,"append":"-S 20","useSpawn":"false","timer":"","oldrc":false,"name":"","x":820,"y":1160,"wires":[["fc9d0860.eb2548"],[],[]]},{"id":"ef7adc1e.a98e7","type":"function","z":"73275806.633238","name":"format string to image","func":"if(msg.payload==\"Good\"){\n    msg.payload=\"2,1,green,2,2,green,2,5,green,2,6,green,4,0,green,5,1,green,6,2,green,7,3,green,7,4,green,6,5,green,5,6,green,4,7,green\";\n}\nif(msg.payload==\"Neutral\"){\n    msg.payload=\"2,1,yellow,2,2,yellow,2,5,yellow,2,6,yellow,5,2,yellow,5,3,yellow,5,4,yellow,5,5,yellow\";\n}\nif(msg.payload==\"Bad\"){\n    msg.payload=\"2,1,red,2,2,red,2,5,red,2,6,red,4,3,red,4,4,red,5,2,red,5,5,red,6,1,red,6,6,red,7,0,red,7,7,red\";\n}\nif(msg.payload==\"Open\"){\n    msg.payload=\"2,2,green,3,1,green,3,2,green,4,0,green,4,1,green,4,2,green,5,1,green,5,2,green,6,2,green,2,5,green,3,5,green,3,6,green,4,5,green,4,6,green,4,7,green,5,5,green,5,6,green,6,5,green\";\n}\nif(msg.payload==\"Close\"){\n    msg.payload=\"2,0,red,3,0,red,3,1,red,4,0,red,4,1,red,4,2,red,5,0,red,5,1,red,6,0,red,2,7,red,3,7,red,3,6,red,4,7,red,4,6,red,4,5,red,5,7,red,5,6,red,6,7,red\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":1580,"wires":[["777e08f4.4de938"]]},{"id":"a1203e25.164bc","type":"function","z":"73275806.633238","name":"set displaymessage","func":"msg.payload=\"sensor off\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":420,"wires":[[]]},{"id":"23b3f822.4efa28","type":"rpi-sensehat out","z":"73275806.633238","name":"Display number","x":1940,"y":700,"wires":[]},{"id":"b447886d.f3d6c8","type":"delay","z":"73275806.633238","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":460,"wires":[[]]},{"id":"777e08f4.4de938","type":"function","z":"73275806.633238","name":"","func":"global.set(\"processing\",true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":1540,"wires":[[]]},{"id":"3a116ec2.c15fa2","type":"function","z":"73275806.633238","name":"get the highest probablity/ time /id","func":"var i;\nvar high=0.1;\nvar highnum =0;\n\nglobal.set(\"id\",msg.payload.id);\nfor (i = 0; i < msg.payload.predictions.length; i++) {\n    \n    \n if(msg.payload.predictions[i].probability>high){\n     \nhigh=msg.payload.predictions[i].probability;\n\nhighnum=i;\n\n\n\n}\n \n \n \n \n}\n\nmsg.payload=msg.payload.predictions[highnum];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":920,"wires":[["cd6a4364.b7fdf"]]},{"id":"176adcb5.5f2ff3","type":"function","z":"73275806.633238","name":"","func":"msg=null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":620,"wires":[[]]},{"id":"e762542a.895c08","type":"function","z":"73275806.633238","name":"to check if the flow finished (use global varible )","func":"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":420,"wires":[[]]},{"id":"cd6a4364.b7fdf","type":"function","z":"73275806.633238","name":"only move on when prob>0.8","func":"if(msg.payload.probability>0.7){\nreturn msg;\n}\nelse{\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":960,"wires":[["990a032b.9741"]]},{"id":"533e660c.e9e7e8","type":"switch","z":"73275806.633238","name":"","property":"feedback","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":580,"wires":[[],[]]},{"id":"396ed2a9.f8080e","type":"delay","z":"73275806.633238","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1910,"y":660,"wires":[["b480fed4.01c23"]]},{"id":"b480fed4.01c23","type":"function","z":"73275806.633238","name":"","func":"msg.payload=\"*,*,off\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2050,"y":660,"wires":[["55b707b1.5d2318"]]},{"id":"55b707b1.5d2318","type":"rpi-sensehat out","z":"73275806.633238","name":"","x":2220,"y":660,"wires":[]},{"id":"38e5a7af.c0c238","type":"rpi-sensehat in","z":"73275806.633238","name":"","motion":false,"env":false,"stick":true,"x":110,"y":1120,"wires":[["ef4e68a.4afdf98","45051c93.f4d6f4","c0883af7.6f67c8","a117069a.ca62a8","56970734.e40018"]]},{"id":"ef4e68a.4afdf98","type":"function","z":"73275806.633238","name":"Enter","func":"if(msg.payload.key==\"ENTER\"&&msg.payload.state==1){\n\nmsg.payload=\"reset\";\nreturn msg;\n    \n\n    \n}\n\nelse{\n    \n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":1020,"wires":[["9f7da753.3a7d48"]]},{"id":"9f7da753.3a7d48","type":"function","z":"73275806.633238","name":"Pass to 10","func":"let count = context.get(\"count\") || 0;\n\n\nif(msg.payload==\"stop\")  {\n        node.status({text:\"limit reached\"});\n        context.set(\"count\", 999999999);\n        return null;\n    }\n\n\n\nif (msg.payload !== \"reset\"  ) {\n    if (count < 10) {\n        count += 1;\n        node.status({text:`count: ${count}`});\n        context.set(\"count\", count);\n        return msg;\n    } \n   \n   \n    \n  \n    \n} \n\n\n\nelse {\n    context.set(\"count\", 0);\n    node.status({text:\"reset\"});\n    return null;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":1080,"wires":[["4f5f9076.90364"]]},{"id":"646737ec.781668","type":"inject","z":"73275806.633238","name":"Every 10 Second","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":920,"wires":[["9f7da753.3a7d48"]]},{"id":"45051c93.f4d6f4","type":"function","z":"73275806.633238","name":"UP","func":"if(msg.payload.key==\"UP\"&&msg.payload.state==1){\nmsg.payload=\"stop\";\n\nreturn msg;\n    \n\n    \n}\n\nelse{\n    \n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":1100,"wires":[["9f7da753.3a7d48"]]},{"id":"8ad08918.b203b8","type":"debug","z":"73275806.633238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":900,"wires":[]},{"id":"a2fd23bb.4c8f4","type":"function","z":"73275806.633238","name":"putin curl face","func":"msg.headers = {\n    'content-type': 'application/octet-stream',\n    'Ocp-Apim-Subscription-Key': 'ff8af90171c14ed9bb93cd47d5397ed4',\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1300,"wires":[["72de2217.4c5c4c"]]},{"id":"8aa8f6c2.a23208","type":"comment","z":"73275806.633238","name":"regonise numbers and two types of gesture","info":"","x":1580,"y":880,"wires":[]},{"id":"8f78e3de.a7ad6","type":"switch","z":"73275806.633238","name":"","property":"number","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2230,"y":560,"wires":[[],[]],"outputLabels":["It is a number","It is a guesture"]},{"id":"4165aa3b.12c804","type":"function","z":"73275806.633238","name":"switch between number and gesture","func":"if(msg.payload==0||msg.payload==1||msg.payload==2||msg.payload==3||msg.payload==4||msg.payload==5||msg.payload==6||msg.payload==7||msg.payload==8||msg.payload==9){\n\nmsg.number=1;    \n\n}\nelse{\n    msg.number=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1970,"y":560,"wires":[["8f78e3de.a7ad6"]]},{"id":"84f365eb.debbe8","type":"comment","z":"73275806.633238","name":"auto turn off","info":"","x":2530,"y":660,"wires":[]},{"id":"6437f5bd.a2e79c","type":"function","z":"73275806.633238","name":"Format Insert","func":"let sno =global.get(\"id\").substring(0,45);\nlet tag = msg.payload;\nlet date = global.get(\"time\");\nlet senid=global.get(\"selected\");\n\nlet newMsg = { \"action\" : \"I\", \"query\" : \"INSERT INTO dbo.Sensor_Data (sensor_id,feedback_gesture,time_stamp) VALUES (\"+senid+\",'\"+tag+\"','\"+date+\"')\" };\nreturn { payload: newMsg };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1810,"y":920,"wires":[["ffda492.8a3d6b8"]]},{"id":"ffda492.8a3d6b8","type":"Azure SQL","z":"73275806.633238","name":"insert gesture into database","x":2900,"y":1060,"wires":[[]]},{"id":"92dcaed5.963c5","type":"comment","z":"73275806.633238","name":"Insret number into database (done)","info":"","x":2900,"y":780,"wires":[]},{"id":"d7cd000c.3f3fa","type":"comment","z":"73275806.633238","name":"send the person's face to identify","info":"","x":1330,"y":1040,"wires":[]},{"id":"7fc8929d.8f4b9c","type":"comment","z":"73275806.633238","name":"get the face id if identified","info":"","x":1790,"y":1040,"wires":[]},{"id":"72de2217.4c5c4c","type":"www-request","z":"73275806.633238","name":"send face to get face id","method":"POST","ret":"obj","url":"https://smiley1.cognitiveservices.azure.com/face/v1.0/detect","follow-redirects":true,"persistent-http":true,"tls":"","x":1150,"y":1380,"wires":[["78bbebd7.0c3d54"]]},{"id":"cdf1f343.a43fd","type":"comment","z":"73275806.633238","name":"format the person detail","info":"","x":1560,"y":1060,"wires":[]},{"id":"ec776143.68583","type":"comment","z":"73275806.633238","name":"insert the record into the database if user reconised","info":"","x":2130,"y":1060,"wires":[]},{"id":"a196d9ff.edb138","type":"comment","z":"73275806.633238","name":"","info":"","x":2040,"y":1000,"wires":[]},{"id":"2d7afd39.164a02","type":"comment","z":"73275806.633238","name":"automation (done)","info":"","x":270,"y":840,"wires":[]},{"id":"2cb8ac4e.cb5c34","type":"debug","z":"73275806.633238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1690,"y":1120,"wires":[]},{"id":"37595fd6.289fa","type":"debug","z":"73275806.633238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1730,"y":1380,"wires":[]},{"id":"78bbebd7.0c3d54","type":"function","z":"73275806.633238","name":"get and set the faceId (globle)","func":"if(msg.payload[0]!=null){\n    \nlet x = msg.payload[0].faceId;\nglobal.set(\"faceid\",x);\n\nreturn msg;\n}\n\nelse{\n    global.set(\"faceid\",0);\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":1300,"wires":[["37595fd6.289fa","2cb8ac4e.cb5c34","9323ced7.3688a"]]},{"id":"9323ced7.3688a","type":"function","z":"73275806.633238","name":"format curl for getting person detail","func":"var faceID = global.get(\"faceid\");\n\nmsg.headers = {\n    'Ocp-Apim-Subscription-Key': 'ff8af90171c14ed9bb93cd47d5397ed4',\n};\nmsg.payload={\n \"PersonGroupId\": \"smiley\",\n    \"faceIds\": [\n        faceID\n    ],\n    \"maxNumOfCandidatesReturned\": 1,\n    \"confidenceThreshold\": 0.5\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":1300,"wires":[["e031ed4e.ebbad"]]},{"id":"e031ed4e.ebbad","type":"www-request","z":"73275806.633238","name":"send api to get person detail","method":"POST","ret":"obj","url":"https://smiley1.cognitiveservices.azure.com/face/v1.0/identify","follow-redirects":true,"persistent-http":true,"tls":"","x":1800,"y":1340,"wires":[["c70d003b.c4389","46e86b61.912504","24e62adb.00d706"]]},{"id":"c70d003b.c4389","type":"debug","z":"73275806.633238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1900,"y":1600,"wires":[]},{"id":"46e86b61.912504","type":"debug","z":"73275806.633238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2230,"y":1100,"wires":[]},{"id":"24e62adb.00d706","type":"function","z":"73275806.633238","name":"Get the person ID ","func":"global.set(\"personid\",msg.payload[0].candidates[0].personId);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1850,"y":1300,"wires":[["c4aeb8e5.0ab508"]]},{"id":"c4aeb8e5.0ab508","type":"function","z":"73275806.633238","name":"","func":"var personid=global.get(\"personid\");\n\nmsg.payload = 'curl -H \"Ocp-Apim-Subscription-Key: ff8af90171c14ed9bb93cd47d5397ed4\" \"https://smiley1.cognitiveservices.azure.com/face/v1.0/persongroups/smiley/persons/\"'+personid \nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":1300,"wires":[["c86251f.28fe1b"]]},{"id":"c86251f.28fe1b","type":"exec","z":"73275806.633238","command":"curl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"get the personname","x":2160,"y":1300,"wires":[["2ae5086.85a5bf8"],[],[]]},{"id":"2ae5086.85a5bf8","type":"json","z":"73275806.633238","name":"","property":"payload","action":"","pretty":true,"x":2210,"y":1260,"wires":[["b07b337c.f608b","6cc54e2.070a7b"]]},{"id":"b07b337c.f608b","type":"debug","z":"73275806.633238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2370,"y":1320,"wires":[]},{"id":"6cc54e2.070a7b","type":"function","z":"73275806.633238","name":"get the name of person","func":"var name=msg.payload.name;\nmsg.payload=name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2410,"y":1220,"wires":[["a1a896fd.352498","d5f0ff7a.9a0b3","8dfaa06.040ac6"]]},{"id":"a1a896fd.352498","type":"rpi-sensehat out","z":"73275806.633238","name":"","x":2650,"y":1220,"wires":[]},{"id":"d5f0ff7a.9a0b3","type":"debug","z":"73275806.633238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2650,"y":1180,"wires":[]},{"id":"8dfaa06.040ac6","type":"function","z":"73275806.633238","name":"format the query for face","func":"\nlet name = msg.payload;\nlet date = global.get(\"time\");\nlet senid=global.get(\"selected\");\nlet direction=global.get(\"direction\");\nlet newMsg = { \"action\" : \"I\", \"query\" : \"INSERT INTO dbo.Access_Log (user_id,direction,time_stamp) VALUES ('\"+name+\"','\"+direction+\"','\"+date+\"')\" };\nreturn { payload: newMsg };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2610,"y":1380,"wires":[["ffda492.8a3d6b8"]]},{"id":"50c33706.534da8","type":"comment","z":"73275806.633238","name":"insert the face data into the database","info":"","x":2400,"y":1440,"wires":[]},{"id":"931406ce.1c79a8","type":"comment","z":"73275806.633238","name":"insert the data into the database","info":"","x":2410,"y":1560,"wires":[]},{"id":"a8ca490f.d77fb8","type":"rpi-sensehat in","z":"e14ccbcd.b263b8","name":"","motion":false,"env":false,"stick":true,"x":410,"y":280,"wires":[["174d892.e388977"]]},{"id":"174d892.e388977","type":"function","z":"e14ccbcd.b263b8","name":"Joystick","func":"if (msg.topic == \"joystick\") {\n    if (msg.payload.key == \"UP\" &&\n        msg.payload.state == \"1\") {\n            return{payload:\"TRIGGER\"}\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":340,"wires":[["c794de9a.c5339"]]},{"id":"74eb55bb.36369c","type":"function","z":"e14ccbcd.b263b8","name":"query to read facilities ","func":"\nmsg.payload = { \"action\" : \"Q\", \"query\" : \"SELECT COUNT(sensor_id) AS num FROM Sensor \" };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":280,"wires":[["c78f8d64.58e5a"]]},{"id":"c78f8d64.58e5a","type":"Azure SQL","z":"e14ccbcd.b263b8","name":"get number of facilities from database","x":1190,"y":280,"wires":[["89926f95.de75e"]]},{"id":"2abab6dd.e076fa","type":"debug","z":"e14ccbcd.b263b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":180,"wires":[]},{"id":"89926f95.de75e","type":"function","z":"e14ccbcd.b263b8","name":"","func":"global.set(\"sensor\",msg.num);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":480,"wires":[["c6188dcc.81a97"]]},{"id":"8d6523bc.bfd9a","type":"debug","z":"e14ccbcd.b263b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1480,"y":560,"wires":[]},{"id":"11d6f43f.cde0fc","type":"inject","z":"e14ccbcd.b263b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":440,"wires":[[]]},{"id":"ac2d1de8.a5bf8","type":"rpi-sensehat out","z":"73275806.633238","name":"display sensor id","x":930,"y":1480,"wires":[]},{"id":"7432c7d4.b88d08","type":"function","z":"73275806.633238","name":"counter -1","func":"global.set(\"processing\",false);\n\nglobal.set(\"counter\",(global.get(\"counter\")-1));\n\nif(global.get(\"counter\")>0){\nmsg.payload=global.get(\"counter\");}\n\nelse{\n    global.set(\"counter\",global.get(\"sensor\"));\n    msg.payload=global.get(\"counter\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1520,"wires":[["ac2d1de8.a5bf8"]]},{"id":"b9ebccc4.2f0a","type":"function","z":"73275806.633238","name":"choose sensor id and turn off led","func":"msg.payload=\"*,*,off\";\nglobal.set(\"processing\",true);\nglobal.set(\"selected\",global.get(\"counter\"));\nglobal.set(\"counter\",1)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":1480,"wires":[["ac2d1de8.a5bf8","a117069a.ca62a8"]]},{"id":"caf4840e.90df28","type":"function","z":"73275806.633238","name":"counter+1","func":"global.set(\"counter\",(global.get(\"counter\")+1));\nglobal.set(\"processing\",false);\n\nif(global.get(\"counter\")<=global.get(\"sensor\")){\nmsg.payload=global.get(\"counter\");\n    \n}\nelse{\n    global.set(\"counter\",1);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1440,"wires":[["ac2d1de8.a5bf8"]]},{"id":"67eaeeb.bd4081","type":"switch","z":"73275806.633238","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":1420,"wires":[["caf4840e.90df28"],["b9ebccc4.2f0a"],["7432c7d4.b88d08"]],"outputLabels":["increase","enter","descrease"]},{"id":"56970734.e40018","type":"function","z":"73275806.633238","name":"format joystick","func":"if( (msg.payload.key==\"UP\" && msg.payload.state==1))\n{\n    msg.payload=1;\n    \n}\nelse if ((msg.payload.key==\"DOWN\" && msg.payload.state==1))\n{\n    msg.payload=0;\n    \n}\nelse if (msg.payload.key==\"ENTER\"&&msg.payload.state==1){\n    msg.payload=2;\n}\nelse if (msg.payload.key==\"LEFT\" && msg.payload.state==1){\n    global.set(\"direction\",\"In\");\n}\nelse if (msg.payload.key==\"RIGHT\"&& msg.payload.state==1){\n    global.set(\"direction\",\"Out\");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":1500,"wires":[["67eaeeb.bd4081","8410e25f.049a4"]]},{"id":"c0883af7.6f67c8","type":"function","z":"73275806.633238","name":"Down","func":"if((msg.payload.key==\"DOWN\"&&msg.payload.state==1)||(msg.payload.key==\"LEFT\"&&msg.payload.state==1)||(msg.payload.key==\"RIGHT\"&&msg.payload.state==1)){\nmsg.payload=\"stop\";\n\nreturn msg;\n    \n\n    \n}\n\nelse{\n    \n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":1140,"wires":[["9f7da753.3a7d48"]]},{"id":"a117069a.ca62a8","type":"function","z":"73275806.633238","name":"Processing","func":"let processing =global.get(\"processing\");\n\nif(msg.payload.key==\"ENTER\"&&msg.payload.state==1&&processing==true){\n\nmsg.payload=\"reset\";\nreturn msg;\n    \n\n    \n}\n\nelse{\n    \n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":1200,"wires":[["9f7da753.3a7d48"]]},{"id":"c794de9a.c5339","type":"function","z":"e14ccbcd.b263b8","name":"message==false","func":"global.set(\"message\",false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":500,"wires":[["1528ccb3.a88db3"]]},{"id":"1528ccb3.a88db3","type":"function","z":"e14ccbcd.b263b8","name":"","func":"let message=global.get(\"message\");\n\nif(message==false){\n    return msg;\n    \n}\nelse{\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":360,"wires":[["74eb55bb.36369c"]]},{"id":"c6188dcc.81a97","type":"function","z":"e14ccbcd.b263b8","name":"","func":"global.set(\"message\",true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":520,"wires":[["8d6523bc.bfd9a"]]},{"id":"5e1e9573.015bcc","type":"function","z":"73275806.633238","name":"Joystick","func":"if (msg.topic == \"joystick\") {\n    if (msg.payload.key == \"UP\" &&\n        msg.payload.state == \"1\") {\n            return{payload:\"TRIGGER\"}\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2440,"y":920,"wires":[["8a1137aa.a888b8"]]},{"id":"8a1137aa.a888b8","type":"function","z":"73275806.633238","name":"query to read facilities ","func":"\nmsg.payload = { \"action\" : \"Q\", \"query\" : \"SELECT COUNT(sensor_id) AS num FROM Sensor \" };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2900,"y":920,"wires":[[]]},{"id":"cd0b0802.604468","type":"function","z":"73275806.633238","name":"","func":"let message=global.get(\"message\");\n\nif(message==false){\n    return msg;\n    \n}\nelse{\n    return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2720,"y":840,"wires":[[]]},{"id":"92035ce5.3b38e","type":"function","z":"73275806.633238","name":"message==false","func":"global.set(\"message\",false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2580,"y":860,"wires":[[]]},{"id":"219d2753.a6fa98","type":"comment","z":"73275806.633238","name":"change sensors","info":"","x":460,"y":1560,"wires":[]},{"id":"26d575b1.1663da","type":"rpi-sensehat out","z":"b95bada1.e749","name":"","x":670,"y":560,"wires":[]},{"id":"c9507d44.4dc2a","type":"inject","z":"b95bada1.e749","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":420,"wires":[["a6d7a1a9.ab5bb"]]},{"id":"a6d7a1a9.ab5bb","type":"moment","z":"b95bada1.e749","name":"","topic":"","input":"","inputType":"msg","inTz":"Asia/Singapore","adjAmount":"8","adjType":"hours","adjDir":"add","format":"","locale":"en-SG","output":"","outputType":"msg","outTz":"Asia/Singapore","x":570,"y":440,"wires":[["7b596297.c25dbc","dcaf3cce.63f7e"]]},{"id":"7b596297.c25dbc","type":"debug","z":"b95bada1.e749","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":300,"wires":[]},{"id":"dcaf3cce.63f7e","type":"function","z":"b95bada1.e749","name":"","func":"global.set(\"time\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":480,"wires":[[]]},{"id":"388b27ad.e166f8","type":"function","z":"73275806.633238","name":"modify direction","func":"msg.payload=global.get(\"direction\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1720,"wires":[["ac2d1de8.a5bf8"]]},{"id":"8410e25f.049a4","type":"function","z":"73275806.633238","name":"filter up and down","func":"if (msg.payload.key==\"LEFT\" && msg.payload.state==1){\n    global.set(\"direction\",\"In\");\n    return msg;\n}\nelse if (msg.payload.key==\"RIGHT\"&& msg.payload.state==1){\n    global.set(\"direction\",\"Out\");\n    return msg;\n}\nelse{\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1600,"wires":[["388b27ad.e166f8"]]}]